<section class="section-contacts">
  <address>
    <h3>Контакти</h3>
    <ul>
      <li>
        Telegram
        <svg>
          <use href="icons.svg#icon-telegram" />
        </svg>
      </li>
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>
  </address>
  <div>
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.189644722229!2d22.299829376487164!3d48.62535291707777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b6f9d51f95%3A0xfa5434899f5653a0!2z0YPQuy4g0JLQsNC60LDRgNC-0LLQsCwgNSwg0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDg4MDAw!5e0!3m2!1sru!2ssk!4v1723223230841!5m2!1sru!2ssk"
      width="400"
      height="250"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
    <p>Адреса: Пл. Корятовича, вул. Вакарова, 5, Ужгород</p>
  </div>
</section>
