<section class="section-features">
  <h3 class="header-features">The work values we thrive for</h3>
  <ul class="list-features">
    <li class="item-features">
      <div class="item-wrap">
        <div class="icon-wrap">
          <svg><use href="../public/icons.svg#icon-comfort" /></svg>
        </div>
        <div class="content-wrap">
          <h3>Beauty Experts</h3>
          <p>
            The majority have suffered alteration in some form, buying to
            injected humour, or randomised words which desktop publishing
            packages.
          </p>
        </div>
      </div>
    </li>
    <li class="item-features">
      <div class="item-wrap">
        <div class="icon-wrap">
          <svg><use href="../public/icons.svg#icon-com" /></svg>
        </div>
        <div class="content-wrap">
          <h3>Great Services</h3>
          <p>
            The majority have suffered alteration in some form, buying to
            injected humour, or randomised words which desktop publishing
            packages.
          </p>
        </div>
      </div>
    </li>
    <li class="item-features">
      <div class="item-wrap">
        <div class="icon-wrap">
          <svg><use href="../public/icons.svg#icon-mat" /></svg>
        </div>
        <div class="content-wrap">
          <h3>100% Genuine</h3>
          <p>
            The majority have suffered alteration in some form, buying to
            injected humour, or randomised words which desktop publishing
            packages.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
