<!-- <section class="section-features">
  <h3 class="header-features">The work values we thrive for</h3>
  <ul class="list-features">
    <li>
      <div class="item-wrap">
        <svg><use href="../public/icons.svg#icon-comfort" /></svg>

        <h3>Beauty Experts</h3>
      </div>
    </li>
    <li>
      <div class="item-wrap">
        <svg><use href="../public/icons.svg#icon-com" /></svg>

        <h3>Great Services</h3>
      </div>
    </li>
    <li>
      <div class="item-wrap">
        <svg><use href="../public/icons.svg#icon-mat" /></svg>

        <h3>100% Genuine</h3>
      </div>
    </li>
  </ul>
</section> -->
