<header class="header">
  <div class="header-container">
    <a class="logo-link" href="/" title="link to">VIKTORIIA MUCHYCHKA </a>

    <button id="menuBtn" class="burger-button">
      <span></span>
    </button>

    <nav class="nav" id="mobileMenu">
      <ul class="nav-list">
        <li><a href="#">Features</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Price</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>

    <button class="order-btn">
      <svg><use href="/icons.svg#icon-calendar" /></svg>
      Order
    </button>
  </div>
</header>
