<header class="header">
  <a class="logo-link" href="/" title="link to">
    <img class="logo" src="../public/logo-no-background.svg" alt="logo" />
  </a>
  <div class="nav-wrap">
    <nav class="nav">
      <ul class="nav-list">
        <li>Features</li>
        <li>Portfolio</li>
        <li>Price</li>
        <li>Rewievs</li>
        <li>Contacts</li>
      </ul>
    </nav>
    <button class="header-btn">
      <svg><use href="../public/icons.svg#icon-calendar" /></svg>
      Order
    </button>
  </div>
</header>
