<!-- <section class="section-hero">
   <div class="text-content">
    <h1>Some text and name</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
      deleniti magni deserunt explicabo dolorum cum sequi doloribus similique,
      enim ducimus.
    </p>
    <a href="https://www.instagram.com/viktorimuch_brows/">Click to order</a>
  </div> -->

<!-- <div class="image-container">
    <div class="image-background"></div>
    <div class="main-image">
      <img src="../img/main.jpg" alt="foto" />
    </div>
  </div> 
</section> -->
