/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./contacts.css');
@import url('./hero.css');

:root {
  --main-color: #ffffff;
  --background-color: #a2b3bf;
  --white: #ffffff;

  --text-price: #;
  --black-text: #141414;
  --gray-text: #555555;
  --button-color: #5c8692;

  /* 9BB7BF
1E2C30
272D32
7A9CA5
EDF5F7
272D32
D0D0D0
272D32
EBF3F5
111E22
84A8B2
95BFCB

EDF5F7
c4c4c4 */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--main-color);
  margin: 0;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  body {
    margin: 0 auto;
  }
}
